#mainControls {
  position: absolute;
  margin: -23px auto;
  width: 600px;
  box-sizing: border-box;
  height: 20px;
  font-family: Verdana;
  font-size: 10px;
}

#mainContainer {
  margin: 23px auto;
  width: 600px;
  height: 600px;
  box-sizing: border-box;
  border: 1px solid black;
}

#sideControls {
  width: 50px;
  margin: 0px auto;
}

#playButton {
  border: none;
}

#mode {
  width: 68px;
}

#startStep {
  width: 25px;
}

#loopCntrl {
  width: 20px;
}

div.trigger {
  background-color: black;
  border: 3px solid black;
  opacity: 0.1;
}

.activate {
  background-color: black;
  color: white;
}

.bpmCntrl {
}

.step {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 25%;
}

.stepOn {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQIW2NkwAT/GbEIMmATxK3yPwMDWAecBgCcGwUDcihe1wAAAABJRU5ErkJggg==);
  opacity: 0.4;
}

.stepSelected {
  opacity: 0.5;
  border: 5px dotted black;
}

.srcType {
  padding-left: 55px;
}
