#mainControls {
  position: absolute;
  margin: -20px auto;
  width: 700px;
  height: 700px;
  box-sizing: border-box;
  height: 20px;
}

#mainContainer {
  margin: 20px auto;
  width: 700px;
  height: 700px;
  box-sizing: border-box;
  border: 1px solid black;
}

.active {
  background-color: blue;
  color: white;
}

.bpmCntrl {
}



#play {
  border: none;

}

.step {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 25%;
}

.trigger {
  background-color: grey;
  border: 4px solid white;
  opacity: 0.2;
}
